<app-header></app-header>

<div class="detail-container" *ngIf="productItem == undefined; else elseBlock">
  <a routerLink="/">
    <h1 routerLink="/">
      Sorry! We are unable to find the product you are looking for!
    </h1>
  </a>
</div>

<ng-template #elseBlock>
  <form class="detail-container" (ngSubmit)="submitAddToCart(productItem)">
    <img src="{{ productItem.url }}" />
    <div #elseBlock class="detail-item">
      <h1>{{ productItem.name }}</h1>
      <p>${{ productItem.price }}</p>
      <p>{{ productItem.description }}</p>
      <div>
        <select
          class="select-input"
          [(ngModel)]="quantity"
          name="{{ productItem.id }}"
        >
          <option *ngFor="let num of quantities" [ngValue]="num">
            {{ num }}
          </option>
        </select>
        <br />
        <button type="submit">Add to cart</button>
        <br />
        <br />

        <a class="back-link" routerLink="/">&larr; Back to product list</a>
      </div>
    </div>
  </form>
</ng-template>
